@charset "utf-8";
* {
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, Helvetica Neue, Arial, sans-serif;
}
html {
  border: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: ' Microsoft YaHei ', 'PingFang SC', 'Droidsansfallback';
}
body {
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  background: #fff;
  line-height: inherit;
}
div,
dl,
dt,
dd,
ol,
ul,
b,
li,
p,
h1,
h2,
h3,
h4,
input,
h6,
h5,
form,
i,
pre,
fieldset,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  font-style: normal;
}
dl,
ul,
li,
p {
  text-align: left;
}
img {
  border: 0px;
  width: 100%;
}
.clear {
  clear: both;
  overflow: hidden;
}
a {
  color: #000;
  text-decoration: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
em {
  font-style: normal;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input:-internal-autofill-selected {
  background-color: none!important;
}
input,
textarea {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: ”;
}
abbr,
acronym {
  border: 0;
}
button:focus {
  outline: 0;
}
/* color */
.texthidden {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  background: #f8f8f8;
}
body.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.canvas-bg {
  display: block;
  width: 100%;
  height: 100%;
}
.login {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 360px;
  min-height: 360px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin: -200px 0 0 -180px;
  box-shadow: 2px 0px 10px #ccc;
  padding: 0 20px;
}
.login.forget {
  min-height: auto;
  margin: -150px 0 0 -360px/2;
}
.login .login-top {
  width: 180px;
  height: auto;
  display: block;
  margin: -87px auto 0;
}
.login .login-top img {
  display: block;
}
.login .login-top .login-logo {
  margin-top: -20px;
}
.login .login-form {
  width: 100%;
  margin-top: 10px;
}
.login .login-form .form-group {
  position: relative;
  margin-bottom: 15px;
  border-radius: 6px;
  overflow: hidden;
  padding: 5px 0;
}
.login .login-form .form-group.hidden {
  position: absolute;
  z-index: -1;
}
.login .login-form .form-group.verify {
  background-color: transparent;
  border-radius: 0;
}
.login .login-form .form-group.verify .label {
  float: left;
  width: 55px;
  position: relative;
  height: 40px;
  padding-left: 0px;
  line-height: 40px;
  top: 0;
}
.login .login-form .form-group.verify .input {
  float: left;
  width: 120px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background-color: #f2f2f2;
}
.login .login-form .form-group.verify .v-code {
  float: right;
  width: 140px;
  height: 40px;
  text-align: right;
  cursor: pointer;
  position: relative;
}
.login .login-form .form-group.verify .v-code:hover .icon {
  transform: rotate(270deg);
}
.login .login-form .form-group.verify .v-code .refresh-vcode {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 9px;
  padding: 5px;
  color: #4d4d4d;
  border-radius: 10px 0 0 0;
}
.login .login-form .form-group.verify .v-code .refresh-vcode .icon {
  transition: all 0.3s;
}
.login .login-form .form-group.verify .v-code img {
  width: auto;
  height: 40px;
  border-radius: 5px;
}
.login .login-form .form-group.verify span.error {
  position: relative;
  top: 0;
  left: 0;
  background-color: transparent;
  display: block;
  width: 100%;
  clear: both;
  margin-bottom: -15px;
  padding-left: 0;
}
.login .login-form .form-group.remember {
  border-radius: 0;
  background-color: transparent;
  padding-top: 15px;
  border-top: 1px dashed #d9d9d9;
}
.login .login-form .form-group.remember .checkbox {
  float: left;
}
.login .login-form .form-group.remember .forget-psd {
  float: right;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  color: #808080;
  transition: all 0.5s;
}
.login .login-form .form-group.remember .forget-psd:hover {
  color: #1E9FFF;
}
.login .login-form .form-group.gray-bg {
  background-color: #f2f2f2;
}
.login .login-form .form-group span.error {
  top: 5px;
  height: 40px;
  line-height: 40px;
  right: 10px;
  color: #ff1100;
  background-color: #f2f2f2;
  position: absolute;
  z-index: 10;
  padding-left: 10px;
}
.login .login-form .input {
  display: block;
  width: 250px;
  height: 40px;
  line-height: 40px;
  border: 0;
  padding-left: 20px;
  border-radius: 6px;
  color: #555;
  background-color: transparent;
  -webkit-appearance: none;
  box-shadow: inset 0 0 0 1000px #f2f2f2;
}
.login .login-form .label-control,
.login .login-form .label {
  position: absolute;
  height: 40px;
  line-height: 40px;
  top: 5px;
  left: 0;
  color: #555;
  opacity: 1;
  font-size: 14px;
  cursor: text;
}
.login .login-form .label-control.username,
.login .login-form .label.username,
.login .login-form .label-control.password,
.login .login-form .label.password {
  background-image: url(../img/login-icon.png?t=0);
  background-image: -webkit-image-set(url(../img/login-icon.png?t=0) 1x, url(../img/login-icon@2x.png?t=0) 2x);
  background-repeat: no-repeat;
}
.login .login-form .label-control.username,
.login .login-form .label.username {
  background-position: 0 0;
}
.login .login-form .label-control.password,
.login .login-form .label.password {
  background-position: -40px 0;
}
.login .login-form .label-control {
  padding-left: 15px;
  text-align: left;
  transition: all 0.4s;
}
.login .login-form .label-control.ani {
  left: 250px;
  font-size: 12px;
  opacity: 0.5;
}
.login .login-form .label {
  padding-left: 20px;
}
.login .checkbox {
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  user-select: none;
}
.login .checkbox .checkbox-inner {
  float: left;
  margin-right: 10px;
}
.login .checkbox .checkbox-inner,
.login .checkbox .imgicon-checked {
  height: 22px;
  line-height: 22px;
  width: 22px;
}
.login .checkbox p {
  color: #fff;
  float: left;
  height: 22px;
  line-height: 23px;
  font-size: 14px;
  color: #333;
}
.login .checkbox input[type="checkbox"] {
  position: absolute;
  left: -9999em;
  left: 0\9;
}
.login .checkbox input[type="checkbox"]:checked + .imgicon-checked {
  background-position: -22px 0;
}
.login .checkbox .imgicon-checked {
  display: inline-block;
  display: none\9;
  background-image: url(../img/checkbox_icon_purple.png?t=0);
  background-image: -webkit-image-set(url(../img/checkbox_icon_purple.png?t=0) 1x, url(../img/checkbox_icon_purple@2x.png?t=0) 2x);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.login .sign-btn {
  background-color: #5785b3;
  border: 0;
  width: 100%;
  color: #fff;
  font-size: 18px;
  height: 46px;
  line-height: 46px;
  cursor: pointer;
  display: block;
  text-align: center;
}
.login .sign-btn:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.login .sign-btn.disable {
  background-color: #d2d2d2;
}
.login .sign-btn.goback {
  background-color: #8e97d8;
}
.login-menu {
  position: fixed;
  bottom: 30px;
  font-size: 12px;
  overflow: hidden;
  width: 456px;
  left: 50%;
  margin-left: -228px;
}
.login-menu a {
  float: left;
  padding: 0 15px;
  color: #666;
}
.login-menu a:hover {
  color: #FFB800;
}
.layui-layer-btn {
  display: flex;
  justify-content: center;
}
.big-alert {
  width: 60%;
  margin: 0 auto 0;
  background-color: #fff;
  padding: 5% 0;
  position: absolute;
  top: 8%;
  left: 50%;
  margin-left: -30%;
}
.big-alert img {
  width: 30%;
  display: block;
  margin: 0 auto 15px;
}
.big-alert p {
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
}
.big-alert a {
  color: #1E9FFF;
  font-size: 20px;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 15px;
}
.load-tips {
  position: absolute;
  white-space: nowrap;
  bottom: -25px;
  margin-left: -20px;
}
@media screen and (max-width: 640px) {
  .login-menu {
    display: none;
  }
}
